<section class="product-page">

  <!-- LEFT (IMAGE) -->
  <div class="product-gallery">
    <div class="main-image">
      <img id="mainProductImg" src="<%= product.images[0] %>" />
    </div>

    <div class="thumbnails">
      <% product.images.forEach((img, i) => { %>
        <img class="thumb <%= i === 0 ? 'active' : '' %>" src="<%= img %>" />
      <% }) %>
    </div>
  </div>

  <!-- RIGHT -->
  <div class="product-info">
    <h1 class="product-title"><%= product.name %></h1>

    
    <div class="rating">
      ★★★★☆
      <span>(4.0)</span>
    </div>

    <p class="product-desc">
      <%= product.description %>
    </p>

    <div class="product-meta">
      <span><b>Brand:</b> <%= product.brand %></span>
      <span><b>Strength:</b> <%= product.strength %></span>
      <span><b>Nicotine:</b> <%= product.nicotine %>mg</span>
      <span><b>Flavour:</b> <%= product.flavour || 'N/A' %></span>
    </div>

<div class="price-box">
  <% if(product.discountPrice && product.discountPrice > 0){ %>
     <span class="price sale">£<%= product.discountPrice.toFixed(2) %></span>
    <span class="old-price">£<%= product.price.toFixed(2) %></span>
   

  <% } else { %>

    <span class="price">£<%= product.price.toFixed(2) %></span>

  <% } %>

  <span class="stock <%= product.stock > 0 ? 'in' : 'out' %>">
    <%= product.stock > 0 ? 'In Stock' : 'Out of Stock' %>
  </span>
</div>

    <div class="cart-section">
      
<button
  class="add-cart <%= product.stock <= 0 ? 'disabled' : '' %>"
  type="button"
  data-id="<%= product._id %>"
  <%= product.stock <= 0 ? 'disabled' : '' %>
>
  <i class="fa-solid fa-cart-shopping"></i>
  <%= product.stock <= 0 ? 'Out of Stock' : 'Add to Cart' %>
</button>
    </div>
  </div>

</section>



<script>
const mainImg = document.getElementById("mainProductImg");
const thumbs = document.querySelectorAll(".thumb");

thumbs.forEach(thumb => {
  thumb.addEventListener("click", () => {
    mainImg.src = thumb.src;

    thumbs.forEach(t => t.classList.remove("active"));
    thumb.classList.add("active");
  });
});
</script>